build/
.qt/
*.log
*.obj
*.recipe
*.tlog
*.sln
*.vcxproj
*.filters
*.dir/
*.user
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.o
*.a
*.so
*.dll
*.exe
*.exp
*.lib
*.pdb
*.suo
*.sdf
*.opensdf
*.ipch
.vs/
bin/
